root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,js,jsx,vue,vuex,scss,css,ts,tsx,tintin.php,conf}]
indent_size = 2
