
// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
img.img-cover {
  max-width: 120px;
  min-height: 120px;
  display: inline-block;
}

@media (max-width: $screen-xs-max) {
  #tutorial-header {
    img.img-cover {
      max-width: 100px;
      min-height: 100px;
    }
  }
  .empty-data-container {
    margin-bottom: 20px !important;
    margin-top: unset !important;
    padding: unset !important;
  }
}
