//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $brand-blue !important;
  border: none !important;
  @include box-shadow(0px 2px 4px #d8e1e8);
  @include transition(border .2s ease-in-out);

  > img,
  a > img {
    @include img-responsive;
    margin-right: auto;
    margin-left: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
    background-color: #fff; // Add for caption bg at 30/11/2019
    // font-size: 14px;
    strong {
      a {
        color: $brand-blue !important;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    // @include box-shadow(1px 2px 2px #ddd);
    text-decoration: none;
    // border: none;
  }
}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  text-decoration: none;
  // border: none;
}
